<style type="text/css">
#cy {
    height: 50em;
    border: 2px solid #888;
    overflow: hidden !important;
    border-radius: 0.55em;
    margin: 1em;
    color: darkgray;
    font-weight: 100;
    float: left;
    width: 48%;
}

#editor {
    height: 58.3345em;
    border: 2px solid #888;
    overflow: hidden !important;
    border-radius: 0.55em;
    margin: 1.2em;
    font-weight: 100;
    float: relative;
    width: 48%;
}
</style>
<div class="container">
	<header class="jumbotron subhead" id="overview" >
    	<div class="row">
        	<div class="span12">
            	<h2>Tierless Programming</h2>
            	<br/>
				<p class="lead">A visualization tool for tierless programming</p>
        	</div>
    	</div>
	</header>


    <div class="panel panel-default" class="span12">
        <div class="panel-body">
            <div ng-controller="ChooseEdgeController">
                <form name="chooseEdges">
                    <label for="edgeSelect"> Select level </label>
                    <select name="edgeSelect" id="edgeSelect"
                            ng-options="option.name for option in data.availableEdges track by option.id"
                            ng-model="data.selectedEdge"
                            ng-change="adaptEdgeChoice()">
                    </select>
                </form>
            </div>
            <div ng-controller="ChooseLayoutController">
                <form name="chooseLayout">
                    <label for="layoutSelect"> Select layout </label>
                    <select name="layoutSelect" id="layoutSelect"
                            ng-options="option.name for option in data.availableLayouts track by option.id"
                            ng-model="data.selectedLayout"
                            ng-change="adaptLayoutChoice()">
                    </select>
                </form>
            </div>
        </div>
    </div>


	<div class="row">
		<div id="cy" ng-controller="GraphCtrl"></div>
        <div id=editor ui-ace="{
            useWrapMode : true,
            showGutter: true,
            theme:'clouds',
            mode: 'javascript',
            onLoad: aceLoaded,
            onChange: aceChanged
        }" ng-controller="EditorCtrl">
//@server
{
    var i = 1;
    function add (a, b) {
        return a + b;
    }
}
//@client
{
    var j = 3;
    add(i,j);
}
        </div>
	</div>

</div>
